<div id="game-container">
  <%= javascript_include_tag 'game_application', 'data-turbolinks-track': 'reload' %>
  <h1>helelo</h1>
  <div id="game-container"></div>
  <div id='assets' data-menu-background="<%= image_url 'menu_background.png'%>"
    data-main-logo="<%= image_url 'main_logo.png'%>"
    data-smoke-particle="<%= image_url 'particles/smoke0.png'%>"
    data-smokepuff-particle="<%= image_url 'particles/smoke-puff.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"  
    data-button-start="<%= image_url 'button-start.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel-xml="<%= image_url 'desyrel.xml'%>"
    data-sword="<%= image_url 'sword.png'%>"
    data-zombi="<%= image_url 'zombi.png'%>"
    data-mask1="<%= image_url 'mask1.png'%>"
    data-mask2="<%= image_url 'mask2.png'%>"
    data-horror_rpg_tileset1="<%= image_url 'horror_rpg_tileset1.png'%>"
    data-horror_rpg_tileset2="<%= image_url 'horror_rpg_tileset2.png'%>"
    data-horror_rpg_tileset3="<%= image_url 'horror_rpg_tileset3.png'%>"
    data-horror_rpg_tileset4="<%= image_url 'horror_rpg_tileset4.png'%>"
    data-horror_rpg_tileset5="<%= image_url 'horror_rpg_tileset5.png'%>"
    data-horror_rpg_tileset6="<%= image_url 'horror_rpg_tileset6.png'%>"
    data-main-map="<%= image_url 'mainmap.json'%>"
    data-arrow-keys="<%= image_url 'arrow-keys.png'%>"
    data-tilemap-path="<%= image_url 'mainmap.json'%>"
    data-diamond="<%= image_url 'diamond.png'%>"
    data-game-over-background="<%= image_url 'game_over_background.png'%>"  

    data-congrats-logo="<%= image_url 'congrats_logo.png'%>"  
    data-game-over-logo="<%= image_url 'game_over_logo.png'%>"  
    data-congrats-background="<%= image_url 'congrats_background.png'%>"  
    data-how-to-logo="<%= image_url 'how_to_logo.png'%>"  
    data-how-to-background="<%= image_url 'how_to_background.png'%>"  

        

  >
  </div>
  <script type="text/javascript">
    let gameAssets = document.querySelector("#assets").dataset;
      let game = new Phaser.Game(config);
  </script>
</div>
