<div id="game-container">
  <%= javascript_include_tag 'game_application', 'data-turbolinks-track': 'reload' %>
  <div id="game-container"></div>
  <div id='assets' data-menu-background="<%= image_url 'menu_background.png'%>"
    data-logo="<%= image_url 'logo.png'%>"
    data-smoke-particle="<%= image_url 'particles/smoke0.png'%>"
    data-smokepuff-particle="<%= image_url 'particles/smoke-puff.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"  
    data-button-start="<%= image_url 'button-start.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel-xml="<%= image_url 'desyrel.xml'%>"
    data-sword="<%= image_url 'sword.png'%>"
    data-zombi="<%= image_url 'zombi.png'%>"
    data-mask1="<%= image_url 'mask1.png'%>"
    data-mask2="<%= image_url 'mask2.png'%>"
    data-horror-tileset1="<%= image_url 'horror_rpg_tileset1.png'%>"
    data-horror-tileset2="<%= image_url 'horror_rpg_tileset2.png'%>"
    data-horror-tileset3="<%= image_url 'horror_rpg_tileset3.png'%>"
    data-horror-tileset4="<%= image_url 'horror_rpg_tileset4.png'%>"
    data-horror-tileset5="<%= image_url 'horror_rpg_tileset5.png'%>"
    data-horror-tileset6  ="<%= image_url 'horror_rpg_tileset6.png'%>"
    data-diamond="<%= image_url 'diamond.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
    data-desyrel="<%= image_url 'desyrel.png'%>"
  >
  </div>
  <script type="text/javascript">
    let gameAssets = document.querySelector("#assets").dataset;
      let game = new Phaser.Game(config);
  </script>
</div>
