<!DOCTYPE html>
<html>
  <head>
    <title>Mazehunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.14.0/dist/phaser.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
